{% extends 'base.html.twig' %}

{% block body %}
    <h1>
        {% if editMode %}
            Modification du post
        {% else %}
            Création d'un post
        {% endif %}
    </h1>
    {{ include('_post_form.html.twig')}}

{% endblock %}