{% extends 'base.html.twig' %}


{% block title %}Hello AnnuaireController!{% endblock %}

{% block body %}
    <section class="posts justify-content-center ">
        {% for post in posts %}
            {{ include('_post.html.twig')}}
        {% endfor %}
    </section>
{% endblock %}