body{
    background-color: #f2f2f2;
    position: relative;
}
.container{
    padding: 0;
    margin: 0;
}
h3{
    color:#007bff;
}
.container{
    margin-top: 0;
    width: 100%;
}
.navbar.custom-nav-fixed-top{
    /* background-color: orange; */
    position: -webkit-sticky;
    position: sticky;
    top:0;
    width: 100%;
    z-index: 10;
}
.mb-2, .my-2{
    margin: auto;
}
.navbar{
    background-color: #007bff;
    
}
.navbar a{
    color: white;
}

.posts .custom-link .title-hover-underline:hover{
    color:inherit;
    text-decoration: underline;
}
.reset::before{
  content:"\f1f8" ;
  font-family: 'FontAwesome';
}
.user ul{
    list-style-type:  "\f101";
    font-family: 'FontAwesome';
    font-size: 18px;
}
.profiles{
    margin-left: 5px;
    border: 1px solid #ff5c39;
    border-radius: 10px;
    padding: 2px 2px 2px 2px;
}
#test {
    background: #ff5c39;
    padding: 0;
    height: 250px;
    background-size: 100%;
    position: relative;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
 }


.profile-header .profile-header-content {
    color: #fff;

}
.profile-header-info{
    color: white;
}
.profile-header-img {
    margin: 1% 0 0 0;
}
