@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600;1,800&family=Outfit:wght@300;400;600&display=swap');


:root{
    --primary: #007bff;
    --secondary: #ff5c39;
}
body{
    background-color: #f2f2f2;
    position: relative;
    font-family: 'EB Garamond', 'Outfit', sans-serif;
    height: 100%;
}
.container{
    padding: 0;
    margin: 0;
}
h3{
    color:#007bff;
}
.container{
    margin-top: 0;
    width: 100%;
}
.navbar.custom-nav-fixed-top{
    /* background-color: orange; */
    position: -webkit-sticky;
    position: sticky;
    top:0;
    width: 100%;
    z-index: 10;
}
.mb-2, .my-2{
    margin: auto;
}
.content .texte{ 
    margin: 0;
    width: 350px;
}
.navbar{
    background-color: #007bff;
    
}
.navbar a{
    color: white;
}
.nav-link {
    font-size: 20px;
}
.posts .custom-link .title-hover-underline:hover{
    color:inherit;
    text-decoration: underline;
}
.reset::before{
  content:"\f1f8" ;
  font-family: 'FontAwesome';
}
.user ul{
    /* list-style-type:  "\f101"; */
    list-style: none;
    font-size: 18px;
}
.profiles{
    margin-left: 5px;
    border: 1px solid #ff5c39;
    border-radius: 10px;
    padding: 2px 2px 2px 2px;
}
.user-profile .profile-header {
    /* background-color: #ff8a6f; */
    background-color: #d5d5d5f2;
    height: 250px;
    position: relative;
    bottom: 20px;
    padding-top: 10px;
    padding-left: 20px;
 }


.profile-header .profile-header-content {
    color: #464646f2;

}

.profile-header-img {
    margin: 1% 0 0 0;
}

.authentication{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    min-height: 100vh;
    background-color: var(--primary);
    position: relative;
}

.authentication .authentication-container{
    background-color: #fff;
    width: 870;
    height: auto;
    border-radius: 5px;
}

.registration.authentication .authentication-container{
    /* height: 1200px; */
}

.authentication .authentication-container > div {
    width: 100%;
    height: 100%;
    padding: 20px;
}

.authentication h1{
    font-weight: 600;
}


.authentication .form{
    width: 600px;
}

.registration.authentication .form{
    width: 700px;
}
.form-container{
    width: 100%;
}

.btn a {
    color: inherit;
    text-decoration: none;
}

.authentication .form .required label {
    position: relative;
}

.authentication .form .required label::after{
    content:" * ";
    position: absolute;
 
    right: -10px;
    top:-10px;
}

.authentication .form .symbole-required,.authentication .form .required label::after{
    color: #ff5c39;
    font-size: 24px;
    font-weight: bold;
}

.user .title-card-header{
    background-color: #d5d5d5f2;
    color: #464646f2;
}

.user .card h4{
    /* color: #f2f2f2; */   
    font-weight: bold;
}

.text-bold{
    font-weight: bold;
}

.home-container{
    justify-content: space-evenly;
}